body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white; /* white */
    background-color: #141414; /* black1 */
}

header {
    width: 100%;
    min-height: 100px;
    height: 7.5%;
    max-height: 244px;
    background-color: #10101e; /* black2 */
    display: flex;
    justify-content: center;
    align-content: space-around;
}

footer {
    background-color: #10101e; /* black2 */
    bottom: 0px;
}